/* Variaveis de cores */
:root {
  --verde: #00c652;
  --preto: #24292f;
  --azulpetroleo: #2a3138;
  --prata: #63686e;
  --cinza: #b5b8ba;
  --branco: #ffffff;
  --border-radius: 5px;
}

/* Cores dos Backgrounds */
.bg-preto {
  background: var(--preto);
}
.bg-verde {
  background: var(--verde);
}
.bg-azulp {
  background: var(--azulpetroleo);
}
.bg-prata {
  background: var(--prata);
}
.bg-cinza {
  background: var(--cinza);
}
.bg-branco {
  background: var(--branco);
}

#menu li a {
  color: var(--branco);
  margin-left: 25px;
  text-decoration: none;
}

/*Botão*/
.btn {
  padding: 10px 30px;
  border-radius: var(--border-radius);
  text-decoration: none;
  display: inline-block;
}
.btn-block {
  display: block;
  text-align: center;
}
.btn-large,
.zoom {
  zoom: 1.2;
}
/* Classes Comuns ou Css semelhantes*/

.flex-wrap {
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.border-radius {
  border-radius: var(--border-radius);
}

.display-flex {
  display: flex;
}
.box-align-right {
  align-items: right;
}
.text-align-left {
  text-align: left;
}

.justify-end {
  justify-content: flex-end;
}

/* Grid ou Layout*/

.container-fluid {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.row {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Formatando as div da (div row)*/
.row > div {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.padding-vertical {
  padding-top: 50px;
  padding-bottom: 50px;
}

.align-center {
  align-items: center;
}
#cursor {
  cursor: pointer;
}

/*Formatando o Formulário de cadastro*/

label {
  color: var(--prata);
  margin-bottom: 10px;
  display: block;
}
.form-control {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  outline: none;
  border: 2px solid var(--cinza);
  border-radius: var(--border-radius);
}

.form-box {
  width: 300px;
  padding: 15px;
}

.form-box input {
  margin-bottom: 10px;
}

.form-box small {
  color: var(--cinza);
  font-size: 10px;
  text-align: center;
  display: block;
  margin-top: 10px;
}

/* Formatando as divs clientes*/

#clientes {
  justify-content: center;
  margin-top: 50px;
}

#clientes > div {
  width: 200px;
  height: 150px;
  margin-bottom: 25px;
  margin: 10px;
  background-color: var(--cinza);
}

/* Imagem cara no Mac*/

#banner-cta {
  background-image: url(../img/man-macbook.png);
  background-size: 800px;
  background-repeat: no-repeat;
}

.box-image {
  height: 300px;
  background-color: var(--cinza);
}
